body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(211, 189, 189);
}

header, footer {
  background-color: #333;
  color: #fff;
  
  padding: 5px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.audio-item {
  margin: 1rem;
  text-align: center;
}

.audio-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #333;
  cursor: pointer;
}

.audio-item audio {
  width: 100%;
  margin-top: 0.5rem;
}

.audio-item img
{
  width:100%;
  object-fit: cover;
}
.row {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.my-button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(45deg, #ff6b6b, #ffa8a8);
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

/* Hover Effect */
.my-button:hover {
  background: linear-gradient(45deg, #ffa8a8, #ff6b6b);
  transform: scale(1.05);
}