
/* .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(20% - 20px); 
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-content {
    margin-top: 10px;
}

.card h3 {
    font-size: 18px;
}

.card-link a {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

 */
/* styles.css */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(20% - 20px); /* Adjust the width as needed */
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.card img {
    width: 100%; /* Set all images to 100% width */
    max-height: 150px; /* Set a maximum height if needed */
    object-fit: cover; /* Maintain aspect ratio and crop if necessary */
}

.card-content {
    margin-top: 10px;
}

.card h3 {
    font-size: 18px;
}

.card-link a {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

/* Add more styles as needed */
